
.section-movielist {
    position: relative;
    color: white; 
 
}


.custom-carousel {
    margin-top: 35px; 
    width: 100%;

}
    .custom-carousel img {
        width: 100%;
        height: 700px;
        position: relative;
       
    }
.page-header {
        position: relative;
        overflow: hidden;
      }
      .page-header-image {
        background-position: top center;
        min-height: 500px; /* Adjust the height as needed */
      }
      .page-header::after {
        content: '';
        position: absolute;
        top: calc(100% - 200px); /* Adjust this value to where you want the gradient to start from the bottom of the image */
        left: 0;
        right: 0;
        bottom: 0;
        background-image: linear-gradient(to bottom, rgba(203, 37, 37, 0), black);
        z-index: 2;
      }        