
<div class="page-header login-page navbar-transparent" filter-color="orange">
    <div class="page-header-image" style="background-image:url('assets/img/bg_img.jpeg')"></div>
    <div class="container">
        <div class="col-md-4 content-center">
            <div class="card card-login card-plain">
                <form class="form" method="" action="">
                    <div class="header header-primary text-center">
                        <div class="logo-container">
                            <img src="assets/img/logo_nacho.png" alt="">
                        </div>
                    </div>
                    <div class="content">
                      <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus===true}">
                        <div class="input-group-prepend">
                            <span class="input-group-text">  <i class="now-ui-icons ui-1_email-85"></i></span>
                        </div>
                          <input [(ngModel)]=email type="text" class="form-control" placeholder="Email" (focus)="focus=true" (blur)="focus=false" >
                      </div>
                      <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus1===true}">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="now-ui-icons objects_key-25"></i></span>
                        </div>
                          <input [(ngModel)]=pass type="password" placeholder="Password" class="form-control" (focus)="focus1=true" (blur)="focus1=false"/>
                      </div>
                    </div>
                    <p class="error" *ngIf="error">{{error}}</p>
                    <div class="footer text-center">
                        <button (click)=login() class="btn btn-primary btn-round btn-lg btn-block">Login</button>
                       
                    </div>
                </form>
                <h6>
                    <a class="nav-link" href="/register">Create Account</a>
                </h6>
            </div>
        </div>
    </div>

</div>

