.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
}
h1, h3 {
    font-weight: bold;
}

.border {
    border: 3px solid #000;
}

.bg-primary {
    background-color: #e55437 !important;
}
p-card {
    cursor: pointer;
  }
.date-box {
    min-width: 120px;  
    min-height: 100px; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    line-height: 2rem;
    margin: 30px;
}
.selected {
    background-color: #007bff !important; /* Change to your preferred style */
    color: #fff;
    cursor: pointer;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Adjust spacing between cards */
  }

.card-header {
    background-color: #000000;
    color: white;
    border-bottom: 1.5px solid white; 
    text-align: center;
    font-weight: bold;
    padding: 1rem;
}

.card-body {
    padding: 20px;
    background-color: #f8f9fa;
}

.date-box, .time-box {
    cursor: pointer;
    background-color: #fff;
    color: #333;
    text-align: center;
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid #dee2e6;
    margin: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.bg-primary.text-white {
    background-color: #007bff;
    color: #fff;
}

.date-box:hover, .time-box:hover {
    background-color: #0056b3;
    color: #fff;
}

.show-times .time-box {
    background-color: #17a2b8;
    color: #fff;
    padding: 10px 20px;
}

.show-times .time-box:hover {
    background-color: #138496;
}

.date-card{
    background-color: rgb(96, 94, 94);
}