.seat-container {
  flex-wrap: wrap;
  gap: 5px;
}
.page-header-image{
  background-image:url('assets/img/bg_img.jpeg'); 
  background-size: cover;  
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 200vh;
  width: 100vw;
  height: 100vh;
}

.centered-container {
  text-align: center;
}

.seat-row {
  display: flex;
  padding: 5px;
  gap:10px
}

.seat {
  width: 30px;
  height: 30px;
  display: flex;
  gap:10px;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  cursor: pointer;
  background-color: rgb(192, 90, 43);
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
  
}

.selected {
  background-color: green;
}


.split-container {
  display: flex;
  height: 100vh; /* Adjust to fit your requirements */
}

.left-side,
.right-side {
  flex: 1;
  padding: 20px;
}
.list {
  border: solid 1px #ccc;
  background-color: #ffffff1a;
  border-radius: 5px;
  text-align: left;
  padding: 10px;
  margin: 0;
  list-style: none;
}

.list > li {
  list-style-type: none;
  border-bottom: solid 1px #8b8b8b;
  padding: 8px 0;
}

.list > li:last-child {
  border-bottom: none;
}
.label {
  color: white;
  display: inline-block;
  width: 100px; /* Adjust this width as needed for your layout */
}
.label-pay {
  color: black;
  display: inline-block;
  width: 100px; /* Adjust this width as needed for your layout */
}
  
.list-pay {
  color:black;
  border: solid 1px #ccc;
  background-color: #ffffff1a;
  border-radius: 5px;
  text-align: left;
  padding: 10px;
  margin: 0;
  list-style: none;
}

.list-pay > li {
  list-style-type: none;
  border-bottom: solid 1px #8b8b8b;
  padding: 8px 0;
}

.list-pay > li:last-child {
  border-bottom: none;
}

.seat.blocked {
  background-color: #ccc !important;
  cursor: not-allowed; 
}