<!-- This is a simplified version of a modal -->
<div class="modal-background" *ngIf="showModal">
    <div class="modal-content">
      <h2>Transaction History</h2>
      <div *ngIf="transactions.length; else noHistoryTemplate">
        <ul>
          <li *ngFor="let transaction of transactions">
            <p>Movie: {{ transaction.movieName }}</p>
            <p>Theater: {{ transaction.theater }}</p>
            <p>Cancelled Tickets: {{ transaction.cancelledTickets }}</p>
          </li>
        </ul>
      </div>
      <ng-template #noHistoryTemplate>
        <p>No history available.</p>
      </ng-template>
      <button (click)="closeModal()">Close</button>
    </div>
  </div>
  