<strong class="text-left display-4">IN THEATERS</strong>
<div class="container mt-4">
    <div class="row row-cols-1 row-cols-md-3 g-4">   
      <div class="col" *ngFor="let movie of theaterSvc.show_movie_list">
        <div class="card h-100">
          <img [src]="movie.image_url" class="card-img-top" alt="{{ movie.movie_name }}">
          <div class="card-body">
            <h5 class="card-title">{{ movie.movie_name }}</h5>
            <p class="card-text">{{ movie.description.description }}</p>
            <a class="nav-link btn btn-neutral"  (click)="MovieSelected(movie.movie_id)">
              <p style="color:orange;font-size: large;">Book Now</p>
          </a>  
        </div>
          
          <div class="card-footer">
            <i class="now-ui-icons ui-2_favourite-28"></i>
            <small class="text-muted">{{ movie.movie_name}}</small>
          </div>
    
        </div>
      </div>
    </div>
  </div>
