.error {
    color: red;
border: 1px solid #f00;
border-radius: 30px;
}
.checkbox-label {
  padding-left: 10px; /* Adjust the padding as needed */
  display: inline-block; /* Ensures labels are treated as blocks */
}

.p-field-checkbox {
  margin-bottom: 10px; /* Add margin to create space between the checkboxes */
}

// :host ::ng-deep .p-tabview .p-tabview-nav-container .p-tabview-nav-content .p-tabview-nav {
//     // background-color: #ffffff1a
//   }
//   :host ::ng-deep .p-tabview .p-tabview-panels {
//     // background-color: #ffffff1a;
//     color: white;
//   }


.icon {
    margin-right: 10px; 
    cursor: pointer;
  }

  .caption-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .custom-button {
    margin-left: 10px; /* Adjust margin as needed */
  }
  .form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Adjust gap between items */
  }
  
  .form-item {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-right: 15px;
    margin-bottom: 5px; /* Adjust margin between label and input */
  }

.form-control{
  width: 50% !important;
  display: inline !important;
}
.p-dropdown-label{
  color:black !important;
}