<p-toast></p-toast>
<h5>Enable/Disable Discounts</h5>
<div class="p-field-checkbox">
  <p-checkbox [(ngModel)]="checkedTuesday" binary="true" inputId="tuesday"></p-checkbox>
  <label for="tuesday" class="checkbox-label">Tuesday Discount</label>
</div>

<div class="p-field-checkbox">
  <p-checkbox [(ngModel)]="evening" binary="true" inputId="evening"></p-checkbox>
  <label for="evening" class="checkbox-label">Discount Before 6 PM Shows</label>
</div>

<div style="padding-left: 215px; padding-right: 180px;">
  <h5>Discount Percentage: {{val1}}</h5>
  <p-slider [(ngModel)]="val1"></p-slider>
</div>
<button class="btn btn-primary" (click)="Update()">Update</button>